<div class="flex-col gap-2 w-56 flex-shrink-0 hidden lg:block" x-data="{
  links:[
    {url: '{{ routes.account_url }}', name: 'Zamówienia', path: '/account'},
    {url: '{{ routes.account_addresses_url }}', name: 'Adresy ({{ customer.addresses_count }})', path: '/account/addresses'},
    {url: '{{ routes.account_logout_url }}', name: 'Wyloguj się', path: '/account/logout'}
  ]
}">

  <h2 class="px-6 pt-5 pb-3 font-normal text-xl">Konto</h2>

  <div class="flex flex-col gap-2 p-2">
    <template x-for="link in links">
      <a
        :href="link.url"
        class="px-4 py-3 rounded-lg hover:text-primary hover:bg-gray-100 bg-opacity-10"
        :class="link.path == window.location.pathname ? 'bg-primary text-primary' : ''">
        <span x-text="link.name"></span>
      </a>
    </template>
  </div>
</div>