<div class="collection__product-grid">
  {% paginate collection.products by pagination %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 items-start text-xl relative place-items-center">
      {% for product in collection.products limit: limit %}

        {% render 'collection-product-card'		
          , product: product 	
          , image_class: image_class %}

      {% endfor %}
    </div>
    {% comment %} check if the collection is featured collection {% endcomment %}

    {% if isPagination == true %}
      {% render 'pagination'
        , paginate: paginate %}
    {% endif %}
  {% endpaginate %}
</div>