<div
  x-data="{
                basePrice: {{ product.price_min }},
                quantity: 1,
                updatedPrice: '',
                init() {
                  this.updatePrice()
                },
  
                updateBasePrice(price) {
                  this.basePrice = price;
                  this.updatePrice();
                },
  
                updateQuantity(quantity = 1) {
                  this.quantity = quantity;
                  this.updatePrice();
                },
  
                updatePrice() {
                  let price = this.basePrice;
                  price *= this.quantity;
  
                  // format price to this format: 1999 > 19,99
                  this.updatedPrice = price.toString().replace(/(\d+)(\d{2})/, '$1,$2')
                }
                }"
  class="flex font-medium text-xl"
  @variant-change.window="updateBasePrice($event.detail.price)"
  @quantity-changed.window="updateQuantity($event.detail.quantity)">
  <div x-text="updatedPrice"></div>
  <div>
    zł</div>
</div>