<div class="relative sm:px-4 py-2 select-none w-full">
  <div style="--swiper-navigation-color: #939090; --swiper-pagination-color: #fff" class="swiper mySwiper2">
    <div class="swiper-wrapper">
      {% for media in product.media %}
        <div class="swiper-slide cursor-pointer" data-image-id="{{ media.id }}">
          {% render 'product-media'
            , media: media
            , class: 'w-full'
            , controls: true %}
        </div>
      {% endfor %}

    </div>
  </div>
  <div class="swiper-thumbs-wrapper relative mt-[20px]">
    <div class="swiper-button-prev cursor-pointer text-primary absolute top-1/2 -translate-y-1/2 -left-10 hover:scale-125 active:scale-100 transition rounded-full">{% render 'icon-chevron-left'
, size: 30 %}</div>
    <div class="swiper-button-next cursor-pointer text-primary absolute top-1/2 -translate-y-1/2 -right-10 hover:scale-125 active:scale-100 transition rounded-full">{% render 'icon-chevron-right'
, size: 30 %}</div>

    <div thumbsSlider="" class="swiper mySwiper">
      <div class="swiper-wrapper">

        {% for media in product.media %}
          <div class="swiper-slide">
            {% render 'product-media'
              , media: media
              , width: 200
              , height: 200
              , class: 'w-full' %}
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

</div>