<div
class="sm:container flex" x-data="{ title: null}">

  {% comment %} Desktop account nav {% endcomment %}
  {% render 'account-navigation' %}

  <div class="sm:px-6 w-full">
    {% render 'adresses-content' %}
      <div class="flex flex-col sm:flex-row sm:justify-between p-4 gap-6 mt-4">
      {% comment %} Adresses {% endcomment %}
      <div class="">
        <h2 class="pb-2 font-normal">{{ customer.name }}</h2>
        {{ customer.email }}
      </div>

      <div class=" sm:text-right">
        <h2 class="pb-2 font-normal">Domyślny adres:</h2>
        {{ customer.default_address | format_address }}
      </div>
    </div>
  </div>
</div>