<div
  class="container"
  x-data="cart({{ section.settings.gift_wrap_product.variants[0].id }})"
  @update-cart.window="updateCart;">

  <h1 class="text-4xl font-medium mb-5">Koszyk</h1>

  <hr>

  {% render 'loader' %}

  <div class="" x-ref="cart_content">
    {% render 'cart-page-content' %}
  </div>

</div>

{% schema %}
  {
    "name": "Cart",
    "settings": [
      {
        "type": "product",
        "id": "gift_wrap_product",
        "label": "Produkt (zapakuj na prezent)",
        "info": "Wybierz produkt który ma być dodany do zamówienia jako opakowanie na prezent."
      }
    ]
  }
{% endschema %}