{% render 'collection-filters' %}
<div class="container">{% render 'breadcrumbs' %}</div>
<div class="container">
  <div>
    {% render 'collection-product-grid'
      , grid_class: 'md:grid-cols-4'
      , image_class: 'md:h-[200px] w-auto h-[150px]'
      , pagination: 32
      , isPagination: true %}
  </div>
</div>