<div class="bg-shof-gray tracking-[4px] text-white font-normal relative w-full overflow-hidden mt-10">
  <div class="flex flex-col sm:flex-row sm:max-w-[1000px] mx-auto">
    {% for top_item in menus[section.settings.menu].links %}
      <div class="sm:flex-1 sm:border-r last:sm:border-none border-white">
        <h3 class="relative footer-h3 font-medium text-xl whitespace-nowrap p-4 text-center border-b border-white">{{ top_item.title }}</h3>
        <ul class="flex flex-col text-lg gap-2 py-7 px-6 text-center sm:text-left">
          {% for sub_item in top_item.links %}
            <li>
              <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Footer Section",
    "class": "footer-section",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Footer Menu",
        "default": "footer"
      }
    ]
  }
{% endschema %}

{% style %}
  .footer-h3:before {
    content: '';
    position: absolute;
    left: -100%;
    bottom: -1px;
    width: 10000%;
    height: 1px;
    background-color: white
  }
{% endstyle %}