<div class="section section-mixed-column container items-center gap-10 grid grid-cols-1 sm:grid-cols-2
[&>*:nth-child(1)]:sm:justify-self-end [&>*:nth-child(2)]:sm:justify-self-start">
  {% comment %} Left column {% endcomment %}
  <div class="flex flex-col gap-4 justify-self-center max-w-[500px]
  {% if section.settings.image_to_left %}
    sm:order-2
  {% endif %}
  ">
    <h2 class="text-4xl text-primary font-normal">
      {{ section.settings.title }}
    </h2>
    <div>
      <p class="text-lg">
        {{ section.settings.content | rich_text }}
      </p>
    </div>
  </div>
  {% comment %} Right column {% endcomment %}
  <div class="justify-self-center max-w-[500px]">
    {% if section.settings.image %}
      <div>
        {{ section.settings.image | image_url: width: 500, height: 500 | image_tag: class: 'cover' }}
      </div>
    {% else %}
      <div class="bg-gray-100">
        {{ 'image' | placeholder_svg_tag }}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Kolumna mieszana",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Obrazek"
      },
      {
        "type": "checkbox",
        "id": "image_to_left",
        "label": "Obrazek po lewej stronie",
        "default": "false"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Tytuł",
        "default": "Tytuł"

      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Treść",
        "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Quisquam, voluptatum.</p>"
      }
    ],
    "presets": [
      {
        "name": "Kolumna mieszana",
        "category": "Kolumny",
        "settings": {
          "image": "https://cdn.shopify.com/s/files/1/0509/6331/6893/files/placeholder_500x500.png?v=1633558955",
          "image_to_left": false,
          "title": "Tytuł",
          "content": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Quisquam, voluptatum.</p>"
        }
      }
    ]
  }
{% endschema %}