<div class="container text-center flex flex-col gap-3">
  <h2 class="font-normal uppercase text-[8vmin] sm:text-6xl text-primary tracking-widest">{{ section.settings.title }}</h2>
  <p>{{ section.settings.subtitle }}</p>

  {% form 'customer'
    , class: 'flex flex-col gap-3' %}
    <div class="flex align-center justify-center">
      <input
        class="input rounded-r-none border-r-0 max-w-[250px] "
        type="email"
        name="contact[email]"
        placeholder="Email"
        required />
      <button type="submit" class="button rounded-l-none whitespace-nowrap">Zapisz się</button>
    </div>
    {% if form.errors %}
      <div class="flex flex-row items-center justify-center w-full">
        {% for error in form.errors %}
          <div class="text-red-500">
            {% render 'icon-failed' %}
          </div>
          <p class="text-red-500 text-sm font-bold ml-2">
            {{ form.errors.translated_fields[error] | capitalize }} - {{ form.errors.messages[error] }}
          </p>
        {% endfor %}
      </div>
    {% elsif form.posted_successfully? %}
      <div class="flex flex-row items-center justify-center w-full gap-2">
        <div class="text-shof-green">
          {% render 'icon-success' %}
        </div>
        <p class="text-shof-green font-bold text-center">
          Dziękuję za zapisanie się do newslettera! Teraz potwierdź zapis w swojej skrzynce, żebym mogła oficjalnie Cię przywitać.
        </p>
      </div>
    {% endif %}

  {% endform %}
</div>


{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Tytuł",
        "default": "Newsletter"
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": "Treść podtytułu",
        "default": "<p>Zapraszam do domku na drzewie!</p>"
      }
    ]
  }
{% endschema %}