
<div x-data="relatedProducts">
  <template x-for="product in products">
    <div class="">
      <a :href="product.url">
        <img :src="getImageSrcWithSize(product.featuredImage.originalSrc, '350x400')" width="300" height="500" loading="lazy" :alt="product.title">
        <h3>{{ product.title }}</h3>
      </a>
    </div>
</div>
{% schema %}
  {
    "name": "Produkty powiązane",
    "settings": [
      {
        "type": "number",
        "id": "limit",
        "label": "Maksymalna liczba produktów (od 1 do 10)",
        "default": 4
      }
    ],
    "presets": [
      {
        "name": "Podobne produkty",
        "category": "Produkty"
      }
    ]
  }
{% endschema %}