@import './variants.css';
@import './logo-animated.css';
@import './slider.css';
@import './product-gallery.css';
@import './ios-fixes.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    @apply tracking-widest underline-offset-2;
  }

  html {
    min-height: 100vh;
    /* IOS FIX */
    min-height: -webkit-fill-available;
  }

  body {
    scroll-behavior: smooth;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  th {
    @apply font-medium;
  }

  .color-theme {
    /* $ SHADOW */
    --shadow-color: 0deg 0% 68%;
    --shadow-low: 0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.29),
      0.4px 0.7px 0.9px -1.2px hsl(var(--shadow-color) / 0.29), 1px 1.6px 2.1px -2.5px hsl(var(--shadow-color) / 0.29);
    --shadow-medium: 0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.3),
      0.8px 1.3px 1.7px -0.8px hsl(var(--shadow-color) / 0.3), 2px 3.3px 4.3px -1.7px hsl(var(--shadow-color) / 0.3),
      4.8px 8px 10.5px -2.5px hsl(var(--shadow-color) / 0.3);
    --shadow-high: 0.3px 0.4px 0.6px hsl(var(--shadow-color) / 0.28),
      1.3px 2.2px 2.9px -0.4px hsl(var(--shadow-color) / 0.28), 2.4px 4px 5.2px -0.7px hsl(var(--shadow-color) / 0.28),
      4px 6.6px 8.7px -1.1px hsl(var(--shadow-color) / 0.28), 6.3px 10.5px 13.8px -1.4px hsl(var(--shadow-color) / 0.28),
      9.9px 16.4px 21.6px -1.8px hsl(var(--shadow-color) / 0.28),
      15px 24.9px 32.7px -2.1px hsl(var(--shadow-color) / 0.28),
      22.1px 36.6px 48.1px -2.5px hsl(var(--shadow-color) / 0.28);
  }
  .shadow-s {
    box-shadow: var(--shadow-low);
  }

  .shadow-m {
    box-shadow: var(--shadow-medium);
  }

  .shadow-l {
    box-shadow: var(--shadow-high);
  }
}

@layer components {
  .button {
    @apply bg-primary
  hover:brightness-110
  active:scale-95
  active:shadow-none
  hover:active:brightness-90
  px-4 
  py-2
  text-lg 
  rounded-lg 
  text-white 
  cursor-pointer 
  disabled:cursor-default 
  disabled:bg-gray-200 
  disabled:text-black
  disabled:pointer-events-none
  transition
  shadow-m
  tracking-widest;
  }
  .input {
    @apply w-full border rounded-xl px-4 h-[50px] outline-accent;
  }
  .link {
    @apply inline-block text-sm underline hover:text-accent hover:no-underline;
  }
}

[x-cloak] {
  display: none !important;
}

/* Basic Shopify Policy Pages styling */
.shopify-policy__container {
  max-width: 1020px !important;
  padding: 0 20px 0 20px !important;
}

.shopify-policy__title {
  @apply text-3xl font-bold mb-5 !important;
}

/* Basic Shopify Classes styling */
.grecaptcha-badge {
  display: none !important;
}

.shopify-challenge__container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.shopify-payment-button__button {
  @apply opacity-100 text-white transition bg-textColor md:px-10 px-2 w-full md:w-fit py-3 rounded-xl hover:bg-[#000] cursor-pointer !important;
}

.g-recaptcha {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Instagram feed styles */
div[data-block-handle='ig_feed'] {
  @apply container !important;
}
@supports not (aspect-ratio: 1 / 1) {
  .tz-i::before {
    float: left !important;
    padding-top: 100% !important;
    content: '' !important;
  }

  .tz-i::after {
    display: block !important;
    content: '' !important;
    clear: both !important;
  }
}
